care-ris/src/CareRIS/Hys.CareRIS.Application/Service References/AuditService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRisLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRisLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRisLicenseResult" type="tns:DataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isSuccessful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="risData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="systemData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errorCode" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRisLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetRisLicense" />
  </wsdl:message>
  <wsdl:message name="GetRisLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetRisLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetRisLicense">
      <wsdl:input message="tns:GetRisLicenseSoapIn" />
      <wsdl:output message="tns:GetRisLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRisLicense">
      <soap:operation soapAction="http://tempuri.org/GetRisLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRisLicense">
      <soap12:operation soapAction="http://tempuri.org/GetRisLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.112.13.81/auditserver/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.112.13.81/auditserver/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>