care-ris/src/HYS_InterfaceManager/SRC/DicomAdapter/Common.Soap/DefaultConfiguration/CSH.WSDL.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
                  xmlns:tns="http://www.HaoYiShenghealth.com/" 
                  xmlns:s="http://www.w3.org/2001/XMLSchema" 
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
                  targetNamespace="http://www.HaoYiShenghealth.com/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.HaoYiShenghealth.com/">
      <s:element name="MessageCom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageComResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MessageComResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MessageComSoapIn">
    <wsdl:part name="parameters" element="tns:MessageCom" />
  </wsdl:message>
  <wsdl:message name="MessageComSoapOut">
    <wsdl:part name="parameters" element="tns:MessageComResponse" />
  </wsdl:message>
  <wsdl:portType name="HYSIMServiceSoap">
    <wsdl:operation name="MessageCom">
      <wsdl:input message="tns:MessageComSoapIn" />
      <wsdl:output message="tns:MessageComSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HYSIMServiceSoap" type="tns:HYSIMServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MessageCom">
      <soap:operation soapAction="http://www.HaoYiShenghealth.com/MessageCom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HYSIMServiceSoap12" type="tns:HYSIMServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MessageCom">
      <soap12:operation soapAction="http://www.HaoYiShenghealth.com/MessageCom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HYSIMService">
    <wsdl:port name="HYSIMServiceSoap" binding="tns:HYSIMServiceSoap">
      <soap:address location="http://localhost/HYSIM" />
    </wsdl:port>
    <wsdl:port name="HYSIMServiceSoap12" binding="tns:HYSIMServiceSoap12">
      <soap12:address location="http://localhost/HYSIM" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>